.create_pet_container{
  display: grid;
  grid-template-rows: 5rem 1fr;
  row-gap: 10px;
  border: 0px none;
  width: 90%;
  height: auto;
  background-color: #FFFCF1;
  /* background-color: red; */
  box-shadow: 0px 0px 10px 5px #D1D1D1;
  border-radius: 1.3rem;
  padding: 2rem;
  justify-self: center;
}
.create_pet_container form{
  display: grid;
  row-gap: 2rem;
  grid-template-rows: 20% 3fr 1fr;
}

.head{
  color: #FFFCF1;
  background-color: #CCAE9E;
  margin: 0 -2rem 0 -2rem;
  padding: 1rem 2rem 1rem 2rem;
}

.photo_area{
  /* background-color: red; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 2.5rem; 
}
