
.iconTextWrapper {
    width: fit-content;
    display: flex;
    flex-direction: row;
}


.symbol {
    height: 35px;
    width: 35px;
}

.textDeco {
    word-break: break-word;
}

.svgDeco {
    width: 30px;
    height: 30px;
    top: auto;
}