.container{
  display:grid;
  grid-template-rows: 10rem minmax(15rem ,1fr) minmax(15rem ,1fr);
  row-gap: 1rem;
  background-color: #fff8e0;
  box-shadow: 0px 0px 10px 5px #D1D1D1;
  border-radius: 1.3rem;
  width: 80%;
  justify-self: center;
  padding: 1.5rem;
}
.profile_info{
  display: grid;
  grid-template-columns: 10rem 1fr 10rem;
  gap: 2rem;
  margin-left: 2rem;
  /* padding-bottom: 2rem; */
}
.profile_info > .profile_pic{
  height: 100%;
  width: 100%;
  background-color: transparent;
  border: solid 0.3rem #FF9065;
  border-radius: 50%;
  object-fit: cover;
}
.profile_info > a{
  color: #66BEF0;
}
.profile_info > a > button{
  display: inline;
  width: 2rem;
  height: 2rem;
  color: #FFE9DA;
  background-color: #66BEF0;
  border: none;
  border-radius: 50%;
}
.profile_info > a > p{
  display: inline;
  padding-right: 0.5rem;
}

.user_info{
  display: flex;
  flex-direction: column;
}
.user_info > h2{
  margin-bottom: 0.7rem;
}
.user_info > p{
  display: flex;
  color: #53A3D0;
}
.user_info > p > img{
  margin: 0;
  padding-right: 0.4rem;
}

.owned_pet{
  display: grid;
  width: 100%;
  grid-template-rows: 2rem 1fr;
  gap: 1rem;
  background-color: #FFE9DA;
  border-radius: 1.8rem;
  padding: 1.5rem;
}
.owned_pet > h3{
  color: brown;
}
.owned_pet > a{
  color: #FF9065;
  justify-self: center;
  align-self: center;
}
.owned_pet > a > button{
  display: inline;
  width: 2rem;
  height: 2rem;
  color: #FFE9DA;
  background-color: #FF9065;
  border: none;
  border-radius: 50%;
}
.owned_pet > a > p{
  display: inline;
  padding-left: 0.5rem;
}
.cards_container{
  display: grid;
  grid-template-rows: 1fr 2rem;
  grid-template-columns: 1rem 1fr 1rem;
  grid-template-areas: 
  "left cards right"
  "nothing buttonArea -";
  gap: 1rem;
}
.cards_container > a{
  grid-area: buttonArea;
  color: #FF9065;
  justify-self: end;
  align-self: center;
}
.cards_container > a > button{
  display: inline;
  width: 2rem;
  height: 2rem;
  color: #FFE9DA;
  background-color: #FF9065;
  border: none;
  border-radius: 50%;
}
.cards_container > a > p{
  display: inline;
  padding-left: 0.5rem;
}
.cards_wrapper{
  display: flex;
  width: 100%;
  height: fit-content;
  overflow: hidden;
  /* height: fit-content; */
  /* flex-wrap: wrap; */
  gap: 1rem;
  padding: 1rem 0.3rem;
}

.request_card_container{
  display: grid;
  grid-template-rows: 33rem;
  grid-template-columns: 1rem 1fr 1rem;
  grid-template-areas: 
  "left cards right";
  gap: 1rem;
}

.requested_pet{
  display: grid;
  grid-template-rows: 2rem 1fr;
  gap: 1rem;
  background-color: #FFE9DA;
  border-radius: 1.8rem;
  padding: 1.5rem;
}
.requested_pet > h3{
  color: brown;
}
.requested_pet > a{
  color: #FF9065;
  justify-self: center;
  align-self: center;
}
.requested_pet > a > button{
  display: inline;
  width: 2rem;
  height: 2rem;
  color: #FFE9DA;
  background-color: #FF9065;
  border: none;
  border-radius: 50%;
}
.requested_pet > a > p{
  display: inline;
  padding-left: 0.5rem;
}
