.create_pet_container{
  display: grid;
  grid-template-rows: 5rem auto;
  row-gap: 10px;
  border: 0px none;
  width: 90%;
  height: auto;
  box-shadow: 0px 0px 10px 5px #D1D1D1;
  border-radius: 1.3rem;
  padding: 2rem;
  justify-self: center;

  background-image: url(paws-create.svg);
  background-repeat: no-repeat;
  background-position: 100% 100%;
}
.create_pet_container form{
  display: grid;
  row-gap: 2rem;
  /* grid-template-rows: 20% 3fr 1fr;
  grid-template-rows: 20% 10% auto; */
}

.head {
  color: #FFFCF1;
  background-color: #FFB184;
  margin: 0 -2rem 0 -2rem;
  padding: 1rem 2rem 1rem 2rem;
  margin-bottom: 1rem;

}

.photo_area{
  /* background-color: red; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 2.5rem; 
}
