.features_con{
  grid-area: features;
}
.features_con p{
  color: #ffaa78;
}

.flex_seperate{
  display: flex;
  justify-content: space-between;
  padding-left: 1rem;
}
.flex_seperate>label{
  color: #66BEF0;
}
.flex_seperate>label:hover{
  cursor: pointer;
}
.flex_seperate>input:hover{
  cursor: pointer;
}
.flex_seperate>input[type="checkbox"]{
  appearance: none;
  background-color: #fff;
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid currentColor;
  border-radius: 0.15em;
  transform: translateY(-0.075em);
}
