.searchWrapper {
    display: grid;
    width: 95%;
    grid-template-columns: 90% auto;

    column-gap: 0.5rem;
    padding: 1rem;
    padding-top: 0.5rem;
    height: fit-content;
    border: solid;
    border-radius: 1.5rem;
    border-color: #FFB78E;
    border-width: 0.125rem;
    margin-bottom: 1rem;
}

.searchImg {
    margin-left: 0rem;
    align-self: end;
    padding-bottom: 0.3rem;
}

.barWrapper {
    width: 100%;
    display: flex;
    flex-direction: column; 
}

.searchButton {
    background-image: url('/search-symbol.svg');
    background-repeat: no-repeat;
    background-position: 50%;
    height: 50%;
    width: 50%;
    justify-self: flex-start;
    align-self: end;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

