.vaccines_con{
  grid-area: vaccines;
  display: flex;
  flex-direction: column;
}
.vaccines_con p:first-child{
  padding-left: 0rem;
  color: #ffaa78;
  padding-bottom: 0rem;
}
.vaccines_con p:nth-child(2){
  padding-left: 1rem;
  color: #9071B3;
  padding-top: 0rem;
}
.vaccines_con p {
  padding-left: 1rem;
  color: #9071B3;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}

.add_btn{
  display: flex;
  border: 2px solid #ffaa78;
  background-color: rgba(255, 167, 133, 0.25);
  color: #ffaa78;
  margin-top: 1rem;
  margin-left: 1rem;
  width: 50%;
  border-radius: 1rem;
  justify-content: center;

  background-image: url(add-symbol.svg);
  background-repeat: no-repeat;
  background-position: 50%;
}

.remove_btn{
  display: flex;
  border: 2px solid #ffaa78;
  background-color: rgba(255, 167, 133, 0.25);
  color: #ffaa78;
  margin-top: 1rem;
  margin-left: 1rem;
  width: 50%;
  border-radius: 1rem;
  justify-content: center;

  background-image: url(minus-symbol.svg);
  background-repeat: no-repeat;
  background-position: 50%;
}

.photo_form {
  background-image: url(camera-symbol.svg);
  background-repeat: no-repeat;
  background-position: 50%;
  margin: auto;
  width: 100%;
  height: 100%;
  border-radius: 1.5rem;
  background-color: #CCAE9E;
  overflow: hidden;
  
}

.cameraWrapper {
  border: 0.2rem solid orange;
  border-radius: 2rem;
  padding: 10px;
  background-color: transparent;
  display: flex;
  height: 18rem;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.buttonWrapper {
  display: flex;
  flex-direction: row;
}

.previewImg {
  margin: auto;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1.5rem;
  z-index: 1;
}
