.main_container{
  display: grid;
  grid-template: auto auto/50% auto;
  grid-template-areas:
  "basic basic"
  "vaccines features";
  gap: 1rem;
  width: 100%;
  height: fit-content;
}
.container {
  grid-area: basic;
  display: grid;
  /* grid-template: 1fr 1fr 1fr 1fr/ 2fr 1fr 1fr; */
  grid-template: auto auto auto auto/ auto 25% 25%;
  grid-template-areas: 
  "name dob age"
  "bio gender weight"
  "bio breed breed"
  "address color species";
  width: 100%;
  gap: 1rem;
}
.container div{
  display: flex;
  flex-direction: column;
}

.name_con{
  grid-area: name;
}
.dob_con{
  grid-area: dob;
}
.age_con{
  grid-area: age;
}
.address_con{
  grid-area: address;
}
.gender_con{
  grid-area: gender;
}
.weight_con{
  grid-area: weight;
}
.breed_con{
  grid-area: breed;
}
.bio_con{
  grid-area: bio;
}
.bio_con textarea{
  height: 7.5rem;
}

.color_con{
  grid-area: color;
}
.species_con{
  grid-area: species;
}

/* @media (max-width: 1300px) {
  .container {
    grid-area: basic;
    display: grid;
    grid-template: auto auto auto auto/ auto 25% 25%;
    grid-template-areas: 
    "name dob age"
    "bio gender weight"
    "bio breed breed"
    "address color species";
    width: 100%;
    gap: 1rem;
  }
} */