.bgContainer {
    display: flex;
    justify-content: center;
}

.bodyWrapper {
    display: grid;
    width: 80%;
}


.cardsWrapper {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.mockCard {
    width: 14rem;
    height: 20rem;
    background-color: aquamarine;
}
