*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
  font-size: 20px;
  line-height: 1.5rem;
  /* line-height: 1.5rem; */
  /* font-size: 1.25rem; */
}


:root {
  /* color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #ffffff; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


h1 {
  /* 36px */
  font-size: 1.8rem;
}

h2 {
  /* 32px */
  font-size: 1.6rem;
}

h3 {
  /* 24px */
  font-size: 1.2rem;
}

p {
  /* 20px */
  font-size: 1rem;
}
  
div > input{
  padding-left: 1rem;
  border: 2.5px solid #ffaa78;
  border-radius: 1.25rem;
  color: #5e5e5e;
  outline: none;
}

div > label{
  color: #ffaa78;
}

/* 
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */