
/* =========== Grid =========== */

.cardWrapper {
    width: 86%;
    /* height: rem; */
    position: absolute;
    background-color: #FFFCF1;
    top: 20%;
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    gap: 1.875rem;
    /* grid-auto-rows: minmax(20px, auto); */
    grid-auto-rows: min-content;
    /* border: 2px solid red; */
    border-radius: 1.875rem;
    overflow: hidden;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 2.5rem;
    padding-bottom: 1rem;
}

.topContainer {
    grid-column: 1/-1;
    grid-row: 1;
}

.infoContainer1 {
    min-width: 24rem;
    grid-column: 1/9;
    grid-row: 2;
    display: flex;
    flex-direction: row;
    
}

.infoContainer2 {
    grid-column: 9/-1;
    grid-row: 2;
    
}

.vaccineContainer {
    grid-column: 1/9;
    grid-row: 3;
   
}

.featuresContainer {
    grid-column: 9/-1;
    grid-row: 3;
    
}

.bottomContainer {
    grid-column: 15/-1;
    
    grid-row: 4;
}

/* =========== container/Wrapper =========== */

.titleContainer {
    display: flex;
    flex-direction: row;
    background-color: #FFB184;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 3.375rem;
    padding-right: 3.375rem;
    gap: 10px;
    margin-left: -1rem;
    margin-right: -1rem;
    /* margin-top: 2.5rem; */
    align-items: center;
}

.title {
    color: aliceblue;
}

.title:last-of-type {
    margin-left: auto;
}

.wrapperFlex {
    display: flex;
    flex-direction: column;
    gap: 0;
}




.descriptionBox h3 {
    font-weight: 500;
    margin-bottom: 0.5rem;
    line-height: 0rem;
}

.descriptionBox p {
    font-weight: 500;
    margin-left: 0rem;
    line-height: 1.5rem;
}

.infoText {
    color: #66BEF0;
}

.NameText {
    color: #53A3D0;
}