
.cardWrapper {
    width: 27rem;
    height: fit-content;
    background-color: #fff8e0;
    border: solid;
    border-color: #FFBDBD;
    border-width: 0.5rem;
    border-radius: 2.5rem;
    box-shadow: 0 0.2rem 0.5rem 0 rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: row;
    padding: 0.25rem;
    margin-top: 1rem;
    /* justify-content: center; */
}

.imageWrapper{ 
    width: 10rem;
    height: 10rem;
    object-fit: cover;
    border-radius: 1rem;
    margin: 0.5rem;
}

.infoWrapper {
    padding: 0.5rem;
}

